/*    FitsDB extrae información de las cabeceras de archivos FITS,
    las almacena en una base de datos y las pone a disposición 
    del usuario vía web.
    Copyright (C) 2015  Juan Pablo Navarro Sánchez

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.*/

html, body {
height: 98%;
}

#main{
min-height: 95%;
margin-bottom: 25px;
}

table.zebra{
width-min:1850px;
}

table.zebra tbody tr:nth-child(2n+1) {
  background-color: #e5ffc9;
}
table.zebra tbody tr:nth-child(2n) {
  background-color: #fff5e3;
}
table.zebra th {
  background-color: #d9fcff;
}

#autor{
height: 25px;
background: #d9fcff;
position: float;
margin-bottom: 0px;
}